[submodule "ext/ios/sdk"]
	path = ext/ios/sdk
	url = git@github.com:adjust/ios_sdk.git
[submodule "ext/Android/sdk"]
	path = ext/Android/sdk
	url = git@github.com:adjust/android_sdk.git
	branch = adobe_air
